header {
  height: 40vh;
  padding-top: 6rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

header h1 {
  width: max-content !important;
  margin: auto;
  width: 50%;
  display: inline-block;
  height: 4rem;
  padding-right: 11rem;
}

.cta {
  margin-top: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 0.8rem;
  left: 0;
  top: 8rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 1.5rem;
  background: var(--color-bright-lighter);
}

.scroll_down {
  position: absolute;
  right: -1.6rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.me {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(56,63,63,1) 35%, rgba(145,145,145,1) 82%);
  border: 2px solid var(--color-bg);
  position: relative;
  width: 8rem;
  height: 11rem;
  border-radius: 4rem 4rem 0 4rem;
  margin-right: 3rem;
  top: -1rem;
}
