@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --container-width-lg: 70%;
  --container-width-md: 83%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;

  --color-bg: #1a1917;
  --color-primary: #484954;
  --color-trim: #23242e;
  --color-black: #010203;
  --color-trim-lighter: #898a96;
  --color-bright: #e6a857;
  --color-bright-lighter: #ffe18f;
  --color-white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  padding-top: 8rem;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-white);
}

section > h2 {
  margin-bottom: 3rem;
}

.text-bright {
  color: var(--color-bright-lighter);
}

.text-light {
  color: var(--color-trim-lighter);
}

a {
  color: var(--color-bright-lighter);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  background: transparent;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-trim-lighter);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-bright-lighter);
  color: black;
  border: 1px solid black;
}

img {
  display: inline;
  width: 100%;
  object-fit: cover;
}

body {
  font-family: 'Anek Tamil', sans-serif;
  background-color: rgb(0,0,0);
  background-image: url(assets/maze-black.png);
  color: var(--color-white);
  line-height: 1.7;
}

@media screen and (max-width: 1070px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 3rem;
  }

  header h1 {
    display: inline-block;
    padding-right: 10rem;
  }

  .me {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: var(--container-width-md);
  }

  section > h2{
    margin-bottom: 4rem;
  }

  header h1 {
    display: inline-block;
    padding-right: 0;
  }

  .me {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 460px) {
  .header__socials {
    display: none;
  }

  .scroll_down {
    display: none;
  }
}
